<h1>About</h1>

<p> Welcome to Would You Rather? A community where we create and ponder different scenarios and discuss
which outcome we prefer.</p>

<p>You can be as realistic or outlandish as you like! Tell us about real life decisions
you made or make some up. Share your opinion on outcomes and discuss your thoughts
with others. Sign up above to begin!</p>

